/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

@font-face {
  font-family: 'Germania One';
  src:
    local('Germania One'),
    url('fonts/Germania_One/GermaniaOne-Regular.ttf') format('truetype');
}

body {
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
  font-family: 'Germania One', system-ui;
  letter-spacing: 1px;
  color: #251f47;
  background-color: #e5e5e5;
}

img {
  width: 100px;
}

header {
  background-image: url('images/germany.webp');
  background-size: cover;
  height: 340px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #86cb9299;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 30px;
  gap: 20px;
}

h1,
h2 {
  color: white;
  max-width: fit-content;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 2px;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  padding: 4px 12px;
  border-radius: 10px;
  background-color: #251f47;
}

h2 {
  padding: 4px 12px;
  border-radius: 10px;
  background-color: #404e7c90;
  font-size: 16px;
  max-width: 450px;
}

h3 {
  font-size: 25px;
}

h5 {
  font-size: 16px;
}

.activities {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.activity {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.activity-logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.activities p {
  font-size: 14px;
}

.guide {
  padding: 50px 0;
  background-color: white;
  color: white;
  text-shadow: 0 0 2px black;
}

.card {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-flow: row-reverse;
  align-items: center;
  padding: 23px 13px;
  background-color: #71b48d;
  border-radius: 10px;
  border-bottom: solid 7px #251f47;
}

.avatar {
  width: 180px;
  height: 100%;
  border-radius: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quote {
  font-style: italic;
  font-size: 12px;
}
